* {
  margin: 0px;
}

.containers {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.container-one {
  width: 100%;
  height: 100%;
  background-color: black;
}

.container-two,
.container-three,
.container-four {
  width: 50%;
  height: 50%;
}

.container-two {
  background-color: magenta;
}

.container-three {
  background-color: yellow;
}

.container-four {
  background-color: cyan;
}
